 /*  Estilos para todos los footers  */

footer {
    display: flex;
    padding: 20px;
    justify-content: space-between;
    background: linear-gradient(#000000, #7512e6);
}

.left-section ul, .right-section ul {
    list-style: none;
    padding: 0;
}

.left-section a, .right-section a{
    display: flex;
    align-items: center;
    color: #ad85e2;
    text-decoration: none;
}

.left-section ul li, .right-section ul li {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}
.left-section a{
    padding-bottom: 25%;
}

.left-section img {
    width: 24px;
    height: 24px;
    margin-right: 10px;
}

.center-section {
    text-align: center;
    font-family: "Arimo";
    font-style: italic;
}

.center-section p{
    color: white;
    margin-block-start: 1em;
    margin-block-end: 1em;
    font-size: 1em;
    text-align: center;
}

.center-section img {
    width: 100px;
    height: 100px;
}

.right-section ul {
    text-align: right;
}

.right-section ul li {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-bottom: 10px;
}
.right-section a{
    padding-bottom: 5%;
}

.right-section img {
    width: 24px;
    height: 24px;
    margin-left: 10px; 
}

@media screen and (max-width: 768px) {
    footer {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        text-align: center;
    }

    .center-section img {
        width: 20vw;
        height: 25vh;
    }

    .center-section p{
        font-size: 5%;
    }
    
    .left-section, .right-section, .center-section {
        text-align: center;
        padding: 0;
    }

    .left-section, .right-section {
        justify-content: center;
    }

    .left-section ul, .right-section ul {
        margin: 0;
    }

    .left-section li, .right-section li {
        margin: 10px 0;
    }

    .left-section a, .right-section a{
        padding-bottom: 0%;
    }

    .left-section img, .right-section img {
        margin: 0;
        padding: 0;
        width: 30px;
        height: 30px;
    }

    .right-section img{
        margin-left: 5px;
    }

    .left-section img{
        margin-right: 5px;
    }
}

@media screen and (max-width: 425px) {

    footer{
        grid-template-columns: repeat(3, 1fr);
    }

    .left-section a, .right-section a{
        text-decoration: none;
        font-family: "Scorpion-Regular";
        padding-bottom: 0%;
    }

    .right-section img{
        margin-left: 5px;
    }

    .left-section img{
        margin-right: 5px;
    }
}
