/*  Estilos para todos los formularios  */

#sega{
    color: #9da4ff;
    text-shadow: 0 0 5px #9da4ff,
    0 0 2px #19184b,
    0 0 2px #19184b, 
    0 0 2px #19184b;
}

#snk{
    color: #17aefa ;
    text-shadow: 0 0 5px #0080c0 ,
    0 0 2px #0b415c, 
    0 0 2px #0b415c,
    0 0 2px #0b415c;
}

#fps{
    color: #fd9099;
    text-shadow: 0 0 5px #fd9099,
    0 0 2px #672329, 
    0 0 2px #672329,
    0 0 2px #672329;
}

#access {
    /* block-size: 510px; */
    block-size: 5% auto;
}

#account {
    /* block-size: 530px; */
    block-size: 5% auto;
}

#contact {
    /* block-size: 770px; */
    block-size: 5% auto;
}

#pass {
    /* block-size: 250px; */ 
    block-size: 5% auto
}

#register {
    /* block-size: 980px; */
    block-size: 5% auto;
}

#user {
    /* block-size: 250px; */
    block-size: 5% auto;
}

.forms {
    border-radius: 15px;
    background: rgba(0, 0, 0, 0.7);
    width: 600px;
    min-width: 300px;
    max-width: 100%;
    margin: auto;
    margin-top: 120px;
    margin-bottom: 30px;
    padding: 20px;
    box-shadow: 0 0 20px 1px rgba(121, 0, 255, 0.5);
    position: relative;
}

.frm-title {
    padding-bottom: 15px;
    font-size: 1.8vw;
    font-family: "Scorpion-Regular";
    text-align: center;
    margin-top: 5px;
    letter-spacing: 2px;
    color: #9f5ee9;
    text-shadow: 0 0 5px #a862f6, 0 0 2px #7512e6, 0 0 2px #7512e6, 0 0 2px #7512e6;
}

.frm-label {
    display: block;
    width: 80%; 
    font-size: 1em;
    font-family: 'Arimo', sans-serif;
}

.frm-check {
    color: #9f5ee9;
    /*color: black;*/
    text-shadow: 0 0 5px #a862f6, 0 0 2px #7512e6, 0 0 2px #7512e6, 0 0 2px #7512e6;
}

.frm-required {
    margin: 0;
    margin-top: 5px;
    margin-left: 5px;
}

.frm-required, .frm-asterisk {
    width: 80%; 
    font-size: 0.75em;
    color: #ff0000;
}

.frm-reference {
    display: block;
    margin: 0;
    margin-top: 3px;
    padding: 5px;
    width: 80%; 
    font-size: 0.75em;
    text-decoration: none;
    color: #9f5ee9;
}
